/*  your css code here. If applicable */

table{
	
	border:1px solid black;
	Spacing:1px;
	cell-padding:1px;
}
table{
	width:750px;
	height:90px;
}
h1{
	text-align:center;
}
#table-3 tr:nth-child(1){
	background-color:green;
	height:15px;
}
#table-3 tr:nth-child(3){
	background-color:blue;
	height:15px;
}

/* #table-2 tr:nth-child(4) td:nth-child(2) {
	background-color:blue;
}

#table-2 tr:nth-child(2) td:nth-child(2) {
	background-color:blue; */
}

#table-1 td:nth-child(2){
	text-align:center;
}
#table-1 td:nth-child(3){
	text-align:right;
}
#t-image{
	text-align:center;
}

